flows.json
[{"id":"a83042.5b6fdfc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79bc71b7.4fbef","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6444f7f9.273738","type":"subflow","name":"Subflow 1","info":"","category":"advanced","in":[],"out":[],"env":[],"color":"#87A980","icon":"font-awesome/fa-hand-o-up"},{"id":"b93f3820.587458","type":"ui_tab","z":"","name":"Add a name afterwards","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d05c890.f042c8","type":"ui_group","z":"","name":"SmartAgriculture","tab":"983874d3.8e2d28","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddd016c.a237be8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c526e763.a13b28","type":"ui_tab","z":"","name":"smart agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"54feeb6.8e69014","type":"ui_group","z":"","name":"SmartAgriculture","tab":"c526e763.a13b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"983874d3.8e2d28","type":"ui_tab","z":"","name":"smart agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"86616a.94694e98","type":"ibmiot","z":"","name":"smart agricuture","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"35d75602.cf876a","type":"function","z":"a83042.5b6fdfc","name":"soil moisture","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2880,"wires":[["26bd8009.47e7d"]]},{"id":"630c0cb2.964424","type":"function","z":"a83042.5b6fdfc","name":"humidity","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2960,"wires":[["26bd8009.47e7d"]]},{"id":"17783ba3.cadc14","type":"inject","z":"a83042.5b6fdfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":3100,"wires":[["483afc8c.b150f4"]]},{"id":"483afc8c.b150f4","type":"http request","z":"a83042.5b6fdfc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":280,"y":3160,"wires":[["b33a112f.276d7","fe020388.49d31"]]},{"id":"b33a112f.276d7","type":"function","z":"a83042.5b6fdfc","name":"soil misture API","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":3100,"wires":[["6323008d.745aa"]]},{"id":"fe020388.49d31","type":"function","z":"a83042.5b6fdfc","name":"humidity API","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3180,"wires":[["6323008d.745aa"]]},{"id":"26bd8009.47e7d","type":"debug","z":"a83042.5b6fdfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":2940,"wires":[]},{"id":"6323008d.745aa","type":"debug","z":"a83042.5b6fdfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":3140,"wires":[]},{"id":"cf8f2cd.33448d","type":"subflow:6444f7f9.273738","z":"a83042.5b6fdfc","name":"motor on","env":[],"x":240,"y":3000,"wires":[]},{"id":"418efe83.d465a","type":"subflow:6444f7f9.273738","z":"a83042.5b6fdfc","name":"motor off","env":[],"x":240,"y":3060,"wires":[]},{"id":"2690a1db.08a80e","type":"ibmiot in","z":"a83042.5b6fdfc","authentication":"apiKey","apiKey":"86616a.94694e98","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iotsystem","applicationId":"","deviceType":"iotagriculturesystem","eventType":"+","commandType":"data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":120,"wires":[["14187a4e.5b5cb6","f2e39e8a.f84fd"]]},{"id":"8688bb6c.a25678","type":"debug","z":"a83042.5b6fdfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":180,"wires":[]},{"id":"d60d78da.cfa518","type":"ui_gauge","z":"a83042.5b6fdfc","name":"","group":"4d05c890.f042c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":100,"wires":[]},{"id":"14187a4e.5b5cb6","type":"function","z":"a83042.5b6fdfc","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["8688bb6c.a25678","d60d78da.cfa518"]]},{"id":"f2e39e8a.f84fd","type":"function","z":"a83042.5b6fdfc","name":"Temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["8688bb6c.a25678","bbbde8fb.1f8048"]]},{"id":"bbbde8fb.1f8048","type":"ui_gauge","z":"a83042.5b6fdfc","name":"","group":"4d05c890.f042c8","order":2,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":260,"wires":[]},{"id":"df89bc77.aef1b","type":"ui_button","z":"a83042.5b6fdfc","name":"","group":"4d05c890.f042c8","order":3,"width":0,"height":0,"passthru":true,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"motor ON\"}","payloadType":"json","topic":"","x":200,"y":320,"wires":[["1adb3bf1.6db5b4"]]},{"id":"50d579d8.3f2d78","type":"ui_button","z":"a83042.5b6fdfc","name":"","group":"4d05c890.f042c8","order":4,"width":0,"height":0,"passthru":true,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"motor\"=\"OFF\"}","payloadType":"json","topic":"","x":200,"y":400,"wires":[["1adb3bf1.6db5b4"]]},{"id":"1adb3bf1.6db5b4","type":"ibmiot out","z":"a83042.5b6fdfc","authentication":"apiKey","apiKey":"86616a.94694e98","outputType":"evt","deviceId":"iotagriculturesystem","deviceType":"iotsystem","eventCommandType":"data","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":340,"wires":[]},{"id":"c0557227.ae0f9","type":"inject","z":"a83042.5b6fdfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["c9329827.b04668"]]},{"id":"c9329827.b04668","type":"http request","z":"a83042.5b6fdfc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi&units=metric&appid=64e8fdb0623b17c1278c6ec6a3f5284c","tls":"","persist":false,"proxy":"","authType":"basic","x":360,"y":520,"wires":[["17de1245.e5a8ae","50a38b78.8edb64"]]},{"id":"17de1245.e5a8ae","type":"function","z":"a83042.5b6fdfc","name":"Temperature API","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["6a91730d.0b818c","39e9d617.2229ba"]]},{"id":"50a38b78.8edb64","type":"function","z":"a83042.5b6fdfc","name":"humidity API","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":560,"wires":[["6a91730d.0b818c","423556b1.6b3bb8"]]},{"id":"6a91730d.0b818c","type":"debug","z":"a83042.5b6fdfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":480,"wires":[]},{"id":"423556b1.6b3bb8","type":"ui_text","z":"a83042.5b6fdfc","group":"4d05c890.f042c8","order":7,"width":0,"height":0,"name":"","label":"humidity API","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":540,"wires":[]},{"id":"39e9d617.2229ba","type":"ui_text","z":"a83042.5b6fdfc","group":"4d05c890.f042c8","order":6,"width":0,"height":0,"name":"","label":"Temperature API","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":380,"wires":[]}]